{% extends 'base.html' %}

{% block title %}{{ super()}} - Atualizar Cliente{% endblock %}

{% block content %}
<div>
    <form action="" method="POST">
        <h1 class="h3 mb-3 fw-normal">Complete todos os campos para que possamos realizar sua atualização</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Nome Sobrenome" name="nome">
            <label for="floatingInput">Nome</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="CPF" name="cpf">
            <label for="floatingInputd">CPF</label>
        </div>
        <div class="form-floating">
            <input type="number" class="form-control" id="floatingInput" placeholder="CPF" name="id">
            <label for="floatingInput">ID</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar</button>
    </form>
</div>
{% endblock %}